# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Setuptools artefacts
/dist/
/*.egg-info

# Node.js modules
node_modules/

# Text editor / IDE files
.vscode/

# Miscellaneous files
.input/
.output/
.publish/
.temp/
