/*Base Styles*/

body {
  background-color: rgb(0, 0, 0);
  color: rgb(223, 223, 223);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  word-wrap: break-word;
}

body, html {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

section > :first-child {
  margin-top: 0;
}

img {
  box-sizing: content-box;
}

code, div.mono-info, pre, textarea.mono-info {
  font-family: "Consolas", "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
}

code, kbd {
  background-color: rgb(63, 63, 63);
  padding-left: 0.25em;
  padding-right: 0.25em;
}

kbd {
  display: inline-block;
  margin-left: 0.25em;
  margin-right: 0.25em;
  white-space: nowrap;
}

button, code, div#code-editor-container, input[type="submit"], kbd, section#secret-config, textarea {
  border: 0.25rem solid transparent;
  border-radius: 0.25rem;
}

/*Block Sections*/

header {
  background-color: #0D3880;
  border-bottom: 1em solid #00225A;
  color: rgb(239, 240, 241);
  line-height: 2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
}

.wrapper {
  display: block;
  max-width: 960px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: rgb(31, 31, 31);
}

section + section {
  margin-top: 2em;
}

/*Link Elements*/

footer a {
  transition: color 0.25s;
}

footer a, footer a:link, footer a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer a:active {
  color: #E60278;
}

footer a:hover {
  text-decoration: underline;
}

/*Input Elements*/

button, input, textarea {
  font-size: 1em;
}

div#code-editor-container, textarea {
  background-color: #1E1E1E;
}

textarea {
  color: rgb(223, 223, 223);
  max-width: 100%;
}

textarea:disabled {
  box-shadow: 0 0 0 1px #1E1E1E;
  background-color: rgb(0, 0, 0);
}

button, input[type="submit"] {
  padding: 0.5em 1em;
  transition: background-color 0.25s, transform 0.25s;
  background-color: #E60278;
  box-shadow: 0 0 0 1px rgba(63, 63, 63, .75);
  color: white;
}

button:disabled, input[type="submit"]:disabled {
  background-color: rgb(127, 127, 127);
  cursor: wait;
  transform: scale(0.95);
}

button:enabled:active, input[type="submit"]:enabled:active {
  background-color: #CD026B;
  outline: none;
  transform: scale(0.95);
}

button:enabled:focus, input[type="submit"]:enabled:focus, textarea:enabled:focus {
  box-shadow: 0 0 0 1px #1E90FF;
  outline: none;
}

button:enabled:hover, input[type="submit"]:enabled:hover {
  background-color: #FD0585;
  cursor: pointer;
}

/*Specific Selectors*/

.hide {
  display: none;
}

code.variable {
  border: none;
}

div.editor-widget.suggest-widget {
  max-width: 100% !important;
}

div.mono-info {
  background-color: rgb(0, 0, 0);
  border-left: 0.1rem solid #1E90FF;
  color: rgb(191, 191, 191);
  min-height: 1.5em;
  padding: 0.25em 0.25em 0.25em 1.25em;
  white-space: pre-wrap;
  width: 100%;
}

div#code-editor-container {
  height: 25em;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 100%;
}

div#page-span {
  min-height: calc(100% - 3rem);
}

input#code-editor-run {
  min-width: 100%;
}

section#secret-config {
  color: rgb(191, 191, 191);
}

span#secret-switch {
  transition: color 0.25s;
}

span#secret-switch:hover {
  color: #FD0585;
  cursor: pointer;
}

span#secret-switch:active {
  color: #828282;
}

ul.checklist {
  padding: 0;
}

ul.checklist li {
  list-style-type: none;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  vertical-align: middle;
}

ul.checklist li:before {
  background-color: #8C8C8C;
  border-radius: 0.5em;
  content: "";
  display: inline-block;
  height: 1em;
  margin-right: 1em;
  width: 1em;
}

ul.checklist li.fail:before {
  background-color: #DD3333;
}

ul.checklist li.pass:before {
  background-color: #50B848;
}

textarea#code-editor-setup {
  padding-left: 46px;
  padding-right: 46px;
}

textarea.mono-input {
  resize: vertical;
  width: 100%;
}
